<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Web file system</title>
    <style>
        /* Styles for the modal dialog */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #f4f4f4;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
        }
    </style>
</head>
<body>
<h1>Web file system for Frank RG</h1>
<h3>Автор: Ланкин Дмитрий - <a href="https://hh.ru/resume/31a260e8ff0bd92d1d0039ed1f69564341577a">резюме</a></h3>
<button id="inputDialogBtn1">Create file</button>
<button id="inputDialogBtn2">Create directory</button>

<form id="uploadForm" enctype="multipart/form-data" method="post">
    <input type="file" name="myFile" id="uploadedFile">
    <input type="submit" value="Загрузить">
</form>

<div id="inputDialogFile" class="modal">
    <div class="modal-content">
        <h2>Enter file options</h2>
        <input type="text" id="filenameInput" placeholder="Enter filename">
        <input type="text" id="contentInput" placeholder="Enter content">
        <button id="confirmInputButton1">OK</button>
    </div>
</div>

<div id="inputDialogDir" class="modal">
    <div class="modal-content">
        <h2>Enter directory options</h2>
        <input type="text" id="dirnameInput" placeholder="Enter dirname">
        <button id="confirmInputButton2">OK</button>
    </div>
</div>

<div id="inputRenameFile" class="modal">
    <div class="modal-content">
        <h2>Rename file/directory options</h2>
        <input type="text" id="newName" placeholder="Enter new name">
        <button id="confirmRenameButton">OK</button>
    </div>
</div>

<table id="files">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Тип</th>
        <th>Размер</th>
        <th>Изменен</th>
    </tr>
    </thead>
    <tbody>
    {{range .}}
    <tr>
        <td><a href="{{if .IsDirectory}}/dir/{{else}}/file/{{.ID}}/{{end}}{{.Name}}">{{if .IsDirectory}}{{.Name}}/{{else}}{{.Name}}{{end}}</a></td>
        <td>{{if .IsDirectory}}d{{else}}f{{end}}</td>
        <td>{{if .IsDirectory}}-{{else}}{{.Size}}{{end}}</td>
        <td>{{.ModTime}}</td>
        <td><button class="renameBtn" data-id="{{.ID}}">Переименовать</button></td>
        <td><button class="removeBtn" data-id="{{.ID}}">Удалить</button></td>
        <td><button class="downloadBtn" data-id="{{.ID}}" name="{{.Name}}">Загрузить</button></td>
    </tr>
    {{end}}
    </tbody>
</table>
<script>
    // function ReadFile() {
    //     var file =
    // }

    const filesTable = document.getElementById("files");
    var dataID;

    filesTable.addEventListener("click", function(ev) {
        if (ev.target.classList.contains("renameBtn")) {
            dataID = ev.target.getAttribute("data-id");
            openRenameDialog();
        }

        if (ev.target.classList.contains("removeBtn")) {
            dataID = ev.target.getAttribute("data-id");
            deleteFile(dataID)
        }

        if (ev.target.classList.contains("downloadBtn")) {
            dataID = ev.target.getAttribute("data-id");
            const name = ev.target.getAttribute("name");
            downloadFile(name)
        }
    })

    function downloadFile(filename) {
        const requestOptions = {
            method: "GET",
            headers: {
                'Content-Type': 'application/octet-stream',
            },
        }

        fetch("/api/downloadfile/" + dataID, requestOptions)
            .then(response => {
                if (!response.ok) {
                    return response.clone().json().then(data => {
                        throw new Error(data.message)
                    })
                }
                return response.blob();
            })
            .then(blob => {
                console.log(blob)
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                alert(error)
                console.error("Error: ", error);
            })
    }

    const confirmRenameBtn = document.getElementById("confirmRenameButton");
    const modalRename = document.getElementById("inputRenameFile");

    confirmRenameBtn.addEventListener("click", function() {closeRenameDialog(); renameFile()})

    function renameFile() {
        const newName = document.getElementById("newName").value;
        const data = {
            id: parseInt(dataID),
            new_name: newName
        };

        const requestOptions = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        };

        fetch("/api/file", requestOptions)
            .then(response => {
                if (!response.ok) {
                    return response.clone().json().then(data => {
                        throw new Error(data.message)
                    })
                }
                return response.json();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                alert(error)
            });
    }

    function deleteFile(id) {
        const requestOptions = {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json',
            },
        }

        fetch("/api/file/" + id, requestOptions)
            .then(response => {
                if (!response.ok) {
                    return response.clone().json().then(data => {
                        throw new Error(data.message)
                    })
                }
                return response.json();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                alert(error);
            });
    }

    const modalFile = document.getElementById("inputDialogFile");
    const openFileButton = document.getElementById("inputDialogBtn1");
    const confirmFileButton = document.getElementById("confirmInputButton1");

    const modalDir = document.getElementById("inputDialogDir");
    const openDirButton = document.getElementById("inputDialogBtn2");
    const confirmDirButton = document.getElementById("confirmInputButton2");

    function openFileDialog() {
        modalFile.style.display = "block";
    }

    function closeFileDialog() {
        modalFile.style.display = "none";
    }

    function openDirDialog() {
        modalDir.style.display = "block";
    }

    function closeDirDialog() {
        modalDir.style.display = "none";
    }

    function openRenameDialog() {
        modalRename.style.display = "block";
    }

    function closeRenameDialog() {
        modalRename.style.display = "none";
    }

    openFileButton.addEventListener("click", openFileDialog);
    confirmFileButton.addEventListener("click", function () {closeFileDialog(); createNewFile()});

    openDirButton.addEventListener("click", openDirDialog);
    confirmDirButton.addEventListener("click", function () {closeDirDialog(); createNewDir()})

    const byteSize = str => new Blob([str]).size;

    const parentDir = window.location.pathname.split("/")[2];

    document.getElementById("uploadForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission behavior

        let file = document.getElementById("uploadedFile");
        if (file.files.length) {
            let reader = new FileReader();

            reader.onload = function(e) {
                console.log(e.target.result);
                let content = e.target.result;

                const data = {
                    name: file.files[0].name,
                    size: byteSize(content),
                    content: content,
                    is_dir: false,
                    parent_dir: parentDir,
                };

                const requestOptions = {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                };

                fetch("/api/createfile", requestOptions)
                    .then(response => {
                        if (!response.ok) {
                            return response.clone().json().then(data => {
                                throw new Error(data.message)
                            })
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        location.reload();
                    })
                    .catch(error => {
                        alert(error)
                    });
            }

            reader.readAsBinaryString(file.files[0]);
        }
    });

    function createNewFile() {
        const content = document.getElementById("contentInput").value;
        const name = document.getElementById("filenameInput").value;
        const size = byteSize(content);

        const parentDir = window.location.pathname.split("/")[2]

        const data = {
            name: name,
            size: size,
            content: content,
            is_dir: false,
            parent_dir: parentDir,
        };

        const requestOptions = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        };

        fetch("/api/createfile", requestOptions)
            .then(response => {
                if (!response.ok) {
                    return response.clone().json().then(data => {
                        throw new Error(data.message)
                    })
                }
                return response.json();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                alert(error)
            });
    }

    function createNewDir() {
        const content = null;
        const name = document.getElementById("dirnameInput").value;

        const parentDir = window.location.pathname.split("/")[2]

        const data = {
            name: name,
            size: 0,
            content: content,
            is_dir: true,
            parent_dir: parentDir,
        };

        const requestOptions = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        };

        fetch("/api/createfile", requestOptions)
            .then(response => {
                if (!response.ok) {
                    return response.clone().json().then(data => {
                        throw new Error(data.message)
                    })
                }
                return response.json();
            })
            .then(data => {
                location.reload();
            })
            .catch(error => {
                alert(error);
            });
    }
</script>
</body>
</html>